

.menu-item{
  display: flex;
  align-items: center;
  padding: 10px 15px;
  color: var(--sl-text);
  text-decoration: none;
  border-radius: 8px;
  transition: background-color 0.3s, color 0.3s;
  
}

.menu-item:hover{
  background-color: var(--sl-light-blue);
  color: var(--sl-primary);
}

.menu{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
  
}